/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Nav */
.navegation {
  padding: 1rem 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-menu {
  display: none;
}
.logo {
  width: 120px;
}

.img-menu {
  width: 35px;
}

.items-nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 35%;
  font-family: "Be Vietnam Pro", sans-serif;
  cursor: pointer;
}

.items-nav li a {
  color: #242e52;
  text-decoration: none;
  font-size: 12px;
}

.items-nav li a:hover {
  color: #b9b9c1;
}

/* section - home */
.home {
  display: flex;
  margin: 0 7rem 0 7rem;
  align-items: center;
}
.container-img-athlete {
  width: 95%;
  margin: 2rem 0;
}

.img-athlete {
  width: 100%;
}

.home-information {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.home-title {
  width: 80%;
}

.home-title {
  color: #232c50;
  text-align: right;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
}

.home-paragraph {
  color: #000;
  text-align: right;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6rem;
  width: 78%;
  margin-top: 1rem;
}

.contact-btn {
  border-radius: 3rem;
  background: #8b48bf;
  width: 7rem;
  padding: 8px 4px;
  color: #fff;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  border: none;
  margin: 1rem 0;
}

.contact-btn:hover {
  cursor: pointer;
  background-color: rgba(139, 72, 191, 0.7);
}

.btn-home {
  margin: 1.5rem 0;
}
/* section - 1 */

.section-1 {
  background-color: #8b48bf;
  padding: 3.5rem 8rem;
  color: #fff;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 6rem;
}

.question-title {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  width: 50%;
}
.answer {
  font-family: "Be Vietnam Pro", sans-serif;
  width: 95%;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  width: 50%;
}
/* section - 2 */
.section-2 {
  /* margin: 4rem 0 4rem  2rem; */
  color: #b3b2b7;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  background-color: #fafafa;
  padding: 4rem 7rem;
  justify-content: center;
}

.section-2_card {
  width: 50%;
}

.section-2 p {
  margin: 1rem 2rem 2rem 7rem;
}

.number {
  background-color: #8b48bf;
  padding: 10px 25px;
  border-radius: 30px;
  color: #ffffff;
  margin-right: 1rem;
}

.section-2_title {
  /* background-color:rgba(139, 72, 191, 0.3); */
  padding: 10px 25px;
  color: #323851;
  font-weight: bold;
}

/* section - 3 */

.section-3 {
  text-align: center;
  padding: 5rem 4rem;
}

.section-3_title {
  color: #242e53;
  margin: 3rem 0 4rem 0;
  font-weight: 700;
  font-size: 39.21px;
  font-family: "Be Vietnam Pro", sans-serif;
}

.athlete-name {
  color: #3f4868;
  font-family: "Be Vietnam Pro", sans-serif;
  margin: 1rem;
}

.container-cards {
  display: flex;
}

.card {
  background-color: #fafafa;
  width: 95%;
  margin: 2rem auto 1rem auto;
  padding: 3.5rem 1rem 2rem;
  color: #b9b9c1;
  font-family: "Be Vietnam Pro", sans-serif;
  position: relative;
}

.img-athlete-card {
  position: absolute;
  transform: translate(-50%, -80%);
  top: 8%;
}

.more_button {
  border-radius: 3rem;
  background: #8b48bf;
  width: 7rem;
  padding: 8px 4px;
  color: #fff;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  border: none;
  margin: 1.5rem 0;
}
.more_button:hover {
  cursor: pointer;
  background-color: rgba(139, 72, 191, 0.7);
}

/* section - 4 */
.section-4 {
  color: #fff;
  padding: 4rem 7rem;
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: #8b48bf;
  font-size: 40px;
  display: flex;
  line-height: 47.84px;
  font-weight: 700;
  justify-content: space-between;
  align-items: center;
  /* height: 224px; */
  width: 100%;
}

.section-4_title {
  width: 50%;
}

.container-btn {
  width: 15%;
}

.section-4 button {
  border-radius: 50px;
  background: #fff;
  width: 7rem;
  padding: 10px;
  font-family: "Be Vietnam Pro", sans-serif;
  color: #8b48bf;
  font-weight: 500;
  border: none;
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.25);
}

/* footer */
footer {
  background-color: #1e1e26;
  font-family: "Be Vietnam Pro", sans-serif;
  display: flex;
  flex-direction: row-reverse;
  padding: 3rem;
}

footer .newsletter {
  padding: 2rem 0;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-social-logo {
  display: flex;
  flex-direction: column-reverse;
  width: 55%;
  justify-content: center;
}

.items-footer-one,
.items-footer-two {
  width: 200px;
}

.newsletter input {
  width: 55%;
  line-height: 3rem;
  border-radius: 50px;
  font-family: "Be Vietnam Pro", sans-serif;
  margin-right: 10px;
  padding-left: 15px;
}

footer button {
  border-radius: 50px;
  background: #8b48bf;
  padding: 10px 20px;
  font-family: "Be Vietnam Pro", sans-serif;
  color: #fff;
  font-weight: 400;
  border: none;
}

footer .container_nav_items {
  width: 50%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin: 1rem 4rem;
  gap: 4rem;
  align-items: center;
}

footer .container_nav_items li {
  list-style: none;
  padding: 10px;
}

.container_icons {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding: 2rem 1rem;
}

.container_icons li {
  list-style: none;
}

.footer-logo {
  /* text-align: right; */
  padding: 1.5rem;
}

.copyright-mobile {
  display: none;
}

.copyright {
  color: #8c8c94;
  text-align: center;
}
